In [10]:
def print_name(n):
    f=open("names.txt","r")
    for i in f:
        i=i.strip("\n")
        if len(i)==n:
            print (i)
        else:
            continue

In [3]:
# def print_name(n):
#     f=open("names.txt","r")
#     for i in f:
#         i=i.strip("\n")
#         if len(i)==n:
#             print (i)
#         else:
#             continue

Atif
Umer
Anna
Saad
Raza

In [3]:
f=open("names.txt","r")
#fw=open("new_sub.txt","w")
m=0
name=""
for i in f:
    i=i.strip("\n")
    if (len(i)>len(name)):
        name=i
        m=len(name)
#     print(i)    
print (name)

Michael

In [ ]:
# first 4 characters of every line
f=open('names.txt','r')

for i in f:
    i=i.strip('\n')
    i=i[0:4]
    print(i)

In [ ]:
# min length
f=open('names.txt','r')
first = f.readline()
first=first.strip('\n')
min_len = len(first)
print(mim_len)
print('--------')
for i in f:
    i=i.strip('\n')
    n_len= len(i)
    if n_len<min_len:
        min_len = n_len
        print(min_len)

In [ ]:
# min length
f=open('names.txt','r')
short_names=[]
first = f.readline()
first = first.strip('\n')
short_names= [first]

for i in f:
    i = i.strip('\n')
    if len(i)<len(short_names[0]):
        short_names=[i]
    elif len(i) == len(short_names[0]):
        short_names.append(i)
for i in short_names:
    print(i,len(i))

In [ ]:
# min length
f=open('names.txt','r')
short_name=[]
first = f.readline()
first = first.strip('\n')
short_name= [first]

for i in f:
    i = i.strip('\n')
    if len(i)<len(short_name[0]):
        short_name=[i]
    
print(short_name,len(short_name))

In [ ]:
# sum of names length
f=open('names.txt','r')
add=0
for i in f:
    i = i.strip('\n')
    add+=len(i)
print("Total Sum of names ",add)

In [ ]:
# sum of names length
f=open('names.txt','r')
add=0
cnt=0
for i in f:
    i = i.strip('\n')
    add+=len(i)
    cnt+=1
average=add/cnt    
print("Total Sum of names ",average)

In [15]:
f=open("names.txt","r")
f1=open("name_with_subj3.txt","a")
for i in f:
    i=i.strip("\n")
    f1.write(i+"    Programing Fundamental lab, programming Fundamental, English Composition, Calculus-1\n")
f.close()
f1.close()

In [ ]:
mystr='The quick brown fox jumps over the lazy dog.'
search='brownfox'
if search in mystr:
    print('Found')
else:
    print('Not Found')

In [18]:
# Write a python function that reads in the names in names.txt.
# Your function should ask user to enter a name to search if the
# input is in file your function should return true otherwise it
# should return false.
def search_key():
    s_str=input("Enter the name you want to search\n")
    f = open('names.txt','r')
    r = f.read()
#     print(r)
#     print(type(r))
    if s_str in r:
        return True
    return False

In [ ]:
search_key()

In [9]:
def gloria_jeans():
    
    category={
        '1':'Empty',
        '2':{'1':[300,374],'2':[300,361],'3':[378,430],'4':[252,274],'5':[335,348] },
        '3':'Empty',
        '4':{'1':[335,365],'2':[335,365],'3':[348,400],'4':[348,400]}
    }
    # category={
    #     '1':'Empty',
    #     '2':{'1':{'Small':300,'Regular':374},'2':{'Small':300,'Regular':361},'3':{'Small':378,'Regular':430},
    #          '4':{'Small':252,'Regular':274},'5':{'Small':335,'Regular':348} },
    #     '3':'Empty',
    #     '4':{'1':{'Small':335,'Regular':365},'2':{'Small':335,'Regular':365},'3':{'Small':348,'Regular':400}
    #          ,'4':{'Small':348,'Regular':400}}
    # }
    cat ='Y'
    tot_price=0
    cnt=0
    while True:

        main_str='Gloria Jeans Menu\nChoose the item from the menu list\n1.Espresso\n2.Over Ice\n3.Chocolate Chillers\n4.Fusion\n'
        main_str+='Press N to exit to program '
        cat =input(main_str)
        sub_str = '                          Small    Regular\n---------------------------------------------\n'
        if cat=='1':
            pass
        elif cat=='2':

            sub_str+='1.Signatured Ice COffee    300    374\n'
            sub_str+='2.Ice Mocha                300    361\n'
            sub_str+='3.Iced Caramel Latte       378    430\n'
            sub_str+='4.Iced Americano           252    274\n'
            sub_str+='----------------------------------------------\n'
            sub_str+='5.Apple Soda               335    348\n'

        elif cat=='3':
            pass
        elif cat=='4':
            sub_str+='1.Iced Lime                335    365\n'
            sub_str+='2.Apple Chiller                      \n'
            sub_str+='----------------------------------------------\n'
            sub_str+='3.Chai Chiller              348   400\n'
            sub_str+='4.Green Tea Chiller                   \n'
        elif cat=='N':
            cnt+=1
            break
        sub_cat  = input(sub_str)
        size     = int(input("Select Size\n1.Small\n2.Regular\n"))   # size 0 = small 1 = regular
        size-=1
    #     size=str(size)
        quantity = int(input("Enter the quantity"))
        unit_price = category[cat][sub_cat][size]
        price = quantity*unit_price
        tot_price+=price


    service_charges=100
    tot_price+=service_charges
    tax_rate=.21
    tot_tax=tot_price*tax_rate
    tot_price+=tot_tax
    print(tot_price)
    f=open('bill.txt','w')
    bill = 'Service Charges '+str(service_charges)+'\n'
    bill += 'Tax Charges '+str(tot_tax)+'\n'
    bill += 'Total Bill '+str(tot_price)+'\n'
    f.write(bill)

In [ ]:
category={
    '1':'Empty','2':{'1':{'Small':300,'Regular':374},'2':[300,361],'3':[378,430],'4':[252,274],'5':[335,348] },'3':'Empty',
    '4':{'1':[335,365],'2':[335,365],'3':[348,400],'4':[348,400]}
}

In [ ]:
category['2']['1']['Small']

In [ ]:
category={
    '1':'Empty',
    '2':{'1':[300,374],'2':[300,361],'3':[378,430],'4':[252,274],'5':[335,348] },
    '3':'Empty',
    '4':{'1':[335,365],'2':[335,365],'3':[348,400],'4':[348,400]}
}

In [ ]:
category['2'][1]

In [17]:
print_name(3)

Ali

In [18]:
gloria_jeans()

Gloria Jeans Menu
Choose the item from the menu list
1.Espresso
2.Over Ice
3.Chocolate Chillers
4.Fusion
Press N to exit to program 4
                          Small    Regular
---------------------------------------------
1.Iced Lime                335    365
2.Apple Chiller
----------------------------------------------
3.Chai Chiller              348   400
4.Green Tea Chiller
4
Select Size
1.Small
2.Regular
2
Enter the quantity3
Gloria Jeans Menu
Choose the item from the menu list
1.Espresso
2.Over Ice
3.Chocolate Chillers
4.Fusion
Press N to exit to program 2
                          Small    Regular
---------------------------------------------
1.Signatured Ice COffee    300    374
2.Ice Mocha                300    361
3.Iced Caramel Latte       378    430
4.Iced Americano           252    274
----------------------------------------------
5.Apple Soda               335    348
5
Select Size
1.Small
2.Regular
2
Enter the quantity3
Gloria Jeans Menu
Choose the item from the menu list
1.Espresso
2.Over Ice
3.Chocolate Chillers
4.Fusion
Press N to exit to program N
2836.24

In [4]:
fo = open('demo.txt', 'wb')
mstr="Hi Hello World123".encode()
fo.write(mstr)

17

In [5]:
with open('demo.txt', 'rb') as f:
    for i in f:
        i=i.decode()
        i = i.strip('\n')
        print(i)

In [8]:
f=open("names.txt","r")
line = f.readline()
print(len(line))

5

In [23]:
search_key()

Enter the name you want to search
Ali

True

In [ ]:
gloria_jeans()

Gloria Jeans Menu
Choose the item from the menu list
1.Espresso
2.Over Ice
3.Chocolate Chillers
4.Fusion
Press N to exit to program 4